# Expo
expo-env.d.ts
.expo/

# Dependencies
node_modules/

# Old project clone
zuri-github/

# Environment files
.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example

# Firebase service account
backend/firebase-service-account.json